html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 30px;
  background-color: #fff;
}

@media only screen and (min-width: 992px) {
    .container {
      width: 970px;
    }
}

@media only screen and (max-width: 767px) {
    body {
        background-color: #f1f1f1;
    }
}

.navbar {
  background-color: #3B7AA3;
  border-color: #3B7AA3;
}

.menu-item {
  color: #88BCD8;
}

.navbar {
    margin-bottom: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  background-color: #3B7AA3;
}

.footer .footer-text {
  color: #88BCD8;
  text-align: center;
  margin: 5px 0;
}

.site-name {
  font-size: 5em;
  color: #22b8eb;
}

.main-top {
  padding: 40px 15px;
  text-align: center;
}

.main-about, .main-contact, .search-top {
  padding: 40px 0px;
}

.main-about p {
  margin: 0 0 20px;
}

.search-top {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.result-stat {
  color: #808080;
}

.main-result {
  padding: 40px 0px;
}

@media only screen and (max-width: 767px) {
    .main-result, .main-about, .main-contact {
        padding: 0;
    }
}

.result-list, .highlight-first {
  padding-left: 0;
}

li.result, .hit-first {
  list-style: none;
}

@media only screen and (max-width: 767px) {
    li.result {
        background-color: #fff;
        padding: 0 1em;
    }
}

.title {
  font-size: 24px;
}

@media only screen and (max-width: 767px) {
    .title {
        padding-top: 10px;
    }
}

.author {
  font-size: 18px;
  margin-top: 10px;
}

.hits {
  font-size: 14px;
}

@media only screen and (max-width: 767px) {
    .highlight-first {
        padding-bottom: 10px;
    }
}

.hit em, .hit-first em {
  font-weight: bold;
}

.result-pagenate {
  text-align: center;
}

@media only screen and (max-width: 767px) {
    .result-pagenate {
        margin: 1em 0;
        padding: 1em;
        background-color: #fff;
    }
}

.page-num-current {
  font-weight: bold;
}

.page-num, .page-num-current {
  padding: 0 0.5em;
}

@media only screen and (max-width: 767px) {
    .back-btn, .forward-btn {
        padding-top, padding-bottom: 0.5em;
    }

    .back-btn {
        margin-right: 2em;
    }

    .forward-btn {
        margin-left: 2em;
    }

    .back-btn a, .forward-btn a {
        color: #808080;
        font-size: 1.5em;
        font-weight: lighter;
        text-decoration: none;
    }
}
