{% extends "base.html" %}

{% block title %}青空文庫全文について{% endblock %}

{% block metas %}
    {{ super() }}
    <meta name="description" content="Metamoは、青空文庫の全文検索システムです。キーワードを含む文献の検索だけでなく、著者名や文献の種類を指定することができる詳細検索にも対応しています。">
    <meta name="keyword" content="青空文庫,全文検索">
{% endblock %}

{% block page_content %}
    <div class="main-about">
        <div class="page-header">
            <h2>Metamoについて</h2>
        </div>
        <p>
          Metamoは、青空文庫の全文検索システムです。
          キーワードを入力して検索ボタンを押すと、そのキーワードを含む、
          あるいはそのキーワードに近い言葉を含む文書を、
          青空文庫の全文献から検索することができます。
          検索結果には、文献の基本情報だけでなく、キーワードが本文中の
          どこに含まれているかを示すリストも表示されます。
        </p>
        <p>
          また、詳細検索にも対応しており、調べたいキーワード以外に、タイトル、
          著者名、出版社名、そして文献の種類を指定して検索することができます。
          たとえば、「夏目漱石が桜について言及している文献を調べたい」のであれば、
          キーワードに「桜」を、そして著者名に「夏目漱石」を指定することで、
          求める文献を検索することができます。
        </p>
        <p>
          Metamoは、このサイトの管理人が趣味で作ったものですので、
          改善すべき点やバグ等も散見されるかと思います。
          もしそうしたものを発見された方は、どうぞお気軽にご連絡ください。
        </p>
        <p>
          それでは、Metamoをお楽しみください。
        </p>
    </div>
{% endblock %}
