{% extends "base.html" %}

{% block title %}詳細検索{% endblock %}

{% block metas %}
    {{ super() }}
    <meta name="description" content="Metamoは、青空文庫の全文検索システムです。キーワードを含む文献の検索だけでなく、著者名や文献の種類を指定することができる詳細検索にも対応しています。">
    <meta name="keyword" content="青空文庫,全文検索,詳細検索">
{% endblock %}

{% block page_content %}
    <div class="main-advanced-search">
        <div class="page-header">
            <h2>詳細検索</h2>
        </div>
        <form action="/advanced-search" method="GET">
            <div class="form-group">
                {{ form.q.label }} {{ form.q(class='form-control', required=True) }} <br>
                {{ form.title.label }} {{ form.title(class='form-control') }} <br>
                {{ form.author.label }} {{ form.author(class='form-control') }} <br>
                {{ form.publisher.label }} {{ form.publisher(class='form-control') }} <br>
                <label>分類: </label>
                {{ form.category1(class='form-control select') }} <br>
                {{ form.category2(class='form-control select') }} <br>
                {{ form.category3(class='form-control select') }} <br>
                <div class="search-btn">
                    <button type="submit" class="btn btn-default search-btn">検索</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='script/category.js') }}"></script>
{% endblock %}
