{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block metas %}
    {{ super() }}
    <meta name="description" content="Metamoは、青空文庫の全文検索システムです。キーワードを含む文献の検索だけでなく、著者名や文献の種類を指定することができる詳細検索にも対応しています。">
    <meta name="keyword" content="青空文庫,全文検索">
{% endblock %}

{% block page_content %}
    <div class="main-contact">
        <div class="page-header">
            <h2>Contact</h2>
        </div>
        <p>
          バグの指摘、要望等、お気楽にご連絡ください。
        </p>
        <ul>
          <li>Email: shf0811 _at_ gmail.com</li>
          <li>Github: <a href="https://github.com/morinokami">morinokami</a></li>
        </ul>
    </div>
{% endblock %}
