{% extends "base.html" %}

{% block page_content %}
    <div class="main-top">
        <h1 class="site-name">Metamo</h1>
        <p>Metamoは、<a href="http://www.aozora.gr.jp/" target="_blank">青空文庫</a>の全文検索システムです。</p>
        <form class="search-top" action="/search">
            <div class="form-group">
              {{ form.q(class='form-control', required=True) }}
            </div>
            <div class="search-btn">
                <button type="submit" class="btn btn-default search-btn">検索</button>
            </div>
        </form>
        <br>
        <p>詳細検索は<a href="/advanced-search">こちら</a></p>
    </div>
{% endblock %}
