{% extends "base.html" %}

{% block title %}検索結果{% endblock %}

{% block page_content %}
    <div class="main-result">
        {% if res['hits']['total'] %}
            <div class="result-stat hidden-xs">
                <p>{{ res['hits']['total'] }}件 ({{ res['took'] /1000 }}秒)</p>
            </div>

            <ol class="result-list">
            {% for r in res['hits']['hits'] %}
                <li class="result">
                    <hr class="hidden-xs">
                    <h2 class="title"><a href="/book/{{ r['_source']['book_id'] }}?q={{ q }}">{{ r['_source']['title'] }} {{ r['_source']['subtitle'] }}</a></h2>
                    <h3 class="author">{{ r['_source']['author'] }}</h3>
                    {% if r['highlight'] %}
                        <h4 class="hits">スコア {{ r['_score'] }}</h4>
                        {% if not r['_source']['copyright'] %}
                            <ol class="highlight-first">
                            {% for h in r['highlight']['main_text'][:1] %}
                                <li class="hit-first">{{ h|safe }}</li>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    </ol>
                </li>
            {% endfor %}
            </ol>

            <hr class="hidden-xs">

            <div class="result-pagenate">
                {% if page > 1 %}
                    <span class="back-btn"><a href="?{{ query_str }}&amp;page={{ page - 1 }}">&lt; 戻る</a></span>
                {% endif %}

                {% for p in pagenate %}
                    {% if p == page %}
                        <span class="page-num-current hidden-xs">{{ p }}</span>
                    {% else %}
                        <span class="page-num hidden-xs"><a href="?{{ query_str }}&amp;page={{ p }}">{{ p }}</a></span>
                    {% endif %}
                {% endfor %}

                {% if page < pagenate[-1] %}
                    <span class="forward-btn"><a href="?{{ query_str }}&amp;page={{ page + 1 }}">進む &gt;</a></span>
                {% endif %}
            </div>
        {% else %}
            <div class="page-header">
                <h2>文書が見つかりません。</h2>
            </div>
            {% if not q %}
                <p class="no-query">検索クエリが設定されていません。</p>
            {% else %}
                <p class="no-result">「{{ q }}」を含む文書は見つかりませんでした。</p>
            {% endif %}
            <form class="search-top" action="/search">
                <div class="form-group">
                    <input class="form-control" id="q" name="q" required="" type="text" value="">
                </div>
                <div class="search-btn">
                    <button type="submit" class="btn btn-default search-btn">検索</button>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
