{% extends "base.html" %}

{% block title %}検索結果{% endblock %}

{% block page_content %}
    <div class="main-result">
        {% if res['hits']['total'] %}
            <div class="result-stat hidden-xs">
                <p>{{ res['hits']['total'] }}件 ({{ res['took'] /1000 }}秒)</p>
            </div>

            <ol class="result-list">
            {% for r in res['hits']['hits'] %}
                <li class="result">
                    <hr class="hidden-xs">
                    <h2 class="title"><a href="/book/{{ r['_source']['book_id'] }}?q={{ q }}">{{ r['_source']['title'] }} {{ r['_source']['subtitle'] }}</a></h2>
                    <h3 class="author">{{ r['_source']['author'] }}</h3>
                    <h4 class="hits">該当箇所 (スコア {{ r['_score'] }})</h4>
                    <ol class="highlight-first">
                    {% for h in r['highlight']['main_text'][:1] %}
                        <li class="hit-first">{{ h|safe }}</li>
                    {% endfor %}
                    </ol>
                </li>
            {% endfor %}
            </ol>

            <hr class="hidden-xs">

            <div class="result-pagenate">
                {% if page > 1 %}
                    <span class="back-btn"><a href="?q={{ q }}&amp;page={{ page - 1 }}">&lt; 戻る</a></span>
                {% endif %}

                {% for p in pagenate %}
                    {% if p == page %}
                        <span class="page-num-current hidden-xs">{{ p }}</span>
                    {% else %}
                        <span class="page-num hidden-xs"><a href="?q={{ q }}&amp;page={{ p }}">{{ p }}</a></span>
                    {% endif %}
                {% endfor %}

                {% if page < pagenate[-1] %}
                    <span class="forward-btn"><a href="?q={{ q }}&amp;page={{ page + 1 }}">進む &gt;</a></span>
                {% endif %}
            </div>
        {% else %}
            <h2>該当結果なし</h2>
        {% endif %}
    </div>
{% endblock %}
